step-functions/build-qa.yml
{
  "Comment": "Build QA",
  "StartAt": "CheckCleanupMode",
  "States": {
    "CheckCleanupMode": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.justCleanup",
          "BooleanEquals": true,
          "Next": "TerminateInstance"
        }
      ],
      "Default": "CheckCodedeployScripts"
    },

    "CheckCodedeployScripts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:326255650286:function:QACheckScripts:$LATEST",
        "Payload.$": "$"
      },
      "ResultPath": "$.QALambdaResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.QAError",
          "Next": "FailState"
        }
      ],
      "Next": "ValidateBuildDynamoDBEntry"
    },

    "ValidateBuildDynamoDBEntry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Parameters": {
        "TableName": "AmiRegistry",
        "Key": {
          "ID": {
            "S.$": "$.ImageId"
          }
        }
      },
      "ResultPath": "$.DynamoResult",
      "Next": "CheckIfExists"
    },

    "CheckIfExists": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DynamoResult.Item",
          "IsPresent": true,
          "Next": "TerminateInstance"
        }
      ],
      "Default": "FailState"
    },

    "TerminateInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:terminateInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.InstanceId)"
      },
      "ResultPath": "$.TerminateResult",
      "Next": "RecordValidationResult"
    },
    "RecordValidationResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName": "AmiRegistry",
        "Key": {
          "ID": {
            "S.$": "$.ImageId"
          }
        },
        "UpdateExpression": "SET QAStatus = :status, QATimestamp = :timestamp, JustCleanup = :cleanup",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "PASSED"
          },
          ":timestamp": {
            "S.$": "$$.State.EnteredTime"
          },
          ":cleanup": {
            "S.$": "States.Format('{}', $.justCleanup)"
          }
        }
      },
      "End": true
    },

    "FailState": {
      "Type": "Fail",
      "Cause": "QA validation failed or AMI not found in DynamoDB"
    }
  }
}