step-functions/internal-build.yml
{
  "Comment": "Internal Build",
  "StartAt": "LaunchInstance",
  "States": {
    "LaunchInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:runInstances",
      "Parameters": {
        "ImageId.$": "$.BaseAmiId",
        "InstanceType": "t3.micro",
        "MinCount": 1,
        "MaxCount": 1,
        "IamInstanceProfile": {
          "Name": "PackerS3AccessProfile"
        },
        "TagSpecifications": [
          {
            "ResourceType": "instance",
            "Tags": [
              {
                "Key": "Role",
                "Value": "AmiBuilder"
              }
            ]
          }
        ]
      },
      "ResultPath": "$.Instance",
      "Next": "WaitForInstanceRunning"
    },
    "WaitForInstanceRunning": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "CheckInstanceState"
    },
    "CheckInstanceState": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.Instance.Instances[0].InstanceId)"
      },
      "ResultPath": "$.DescribeInstance",
      "Next": "IsInstanceRunning"
    },
    "IsInstanceRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DescribeInstance.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "WaitAfterProvision"
        }
      ],
      "Default": "WaitForInstanceRunning"
    },
    "WaitAfterProvision": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "InvokeDownloadLambda"
    },
    "InvokeDownloadLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:326255650286:function:DownloadScriptsFromS3:$LATEST",
        "Payload": {
          "InstanceId.$": "$.Instance.Instances[0].InstanceId",
          "Bucket": "build-devin",
          "Key": "product1.zip",
          "BaseAmiId.$": "$.BaseAmiId",
          "Paid.$": "$.Paid"
        }
      },
      "ResultPath": "$.Download",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Paid",
          "BooleanEquals": true,
          "Next": "CreateDeployment"
        }
      ],
      "Default": "CreateAMI"
    },
    "CreateDeployment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:codedeploy:createDeployment",
      "Parameters": {
        "ApplicationName": "AmiBuilderApp",
        "DeploymentGroupName": "AmiBuilderGroup",
        "Revision": {
          "RevisionType": "S3",
          "S3Location": {
            "Bucket": "build-devin",
            "Key": "product1.zip",
            "BundleType": "zip"
          }
        }
      },
      "ResultPath": "$.Deployment",
      "Next": "WaitForDeployment"
    },
    "WaitForDeployment": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckDeploymentStatus"
    },
    "CheckDeploymentStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:codedeploy:getDeployment",
      "Parameters": {
        "DeploymentId.$": "$.Deployment.deploymentId"
      },
      "ResultPath": "$.DeploymentStatus",
      "Next": "IsDeploymentComplete"
    },
    "IsDeploymentComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DeploymentStatus.deploymentInfo.status",
          "StringEquals": "Succeeded",
          "Next": "WaitAfterCodeDeploy"
        },
        {
          "Variable": "$.DeploymentStatus.deploymentInfo.status",
          "StringEquals": "Failed",
          "Next": "FailState"
        }
      ],
      "Default": "WaitForDeployment"
    },
    "WaitAfterCodeDeploy": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CreateAMI"
    },
    "CreateAMI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:createImage",
      "Parameters": {
        "InstanceId.$": "$.Instance.Instances[0].InstanceId",
        "Name.$": "States.Format('build-ami-{}', States.MathRandom(100000,1000000))",
        "NoReboot": true
      },
      "ResultPath": "$.Image",
      "Next": "WaitForAMI"
    },
    "WaitForAMI": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckAMIStatus"
    },
    "CheckAMIStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeImages",
      "Parameters": {
        "ImageIds.$": "States.Array($.Image.ImageId)"
      },
      "ResultPath": "$.DescribeImage",
      "Next": "IsAMIAvailable"
    },
    "IsAMIAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DescribeImage.Images[0].State",
          "StringEquals": "available",
          "Next": "WriteToDynamoDB"
        }
      ],
      "Default": "WaitForAMI"
    },
    "WriteToDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "AmiRegistry",
        "Item": {
          "ID": {
            "S.$": "$.Image.ImageId"
          },
          "BaseAmi": {
            "S.$": "$.BaseAmiId"
          },
          "AmiName": {
            "S.$": "$.DescribeImage.Images[0].Name"
          },
          "CreatedAt": {
            "S.$": "$$.Execution.StartTime"
          },
          "Status": {
            "S": "ACTIVE"
          }
        }
      },
      "ResultPath": "$.DynamoDBResult",
      "Next": "InvokeBuildQA"
    },
    "InvokeBuildQA": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-east-1:326255650286:stateMachine:Build-QA",
        "Input": {
          "InstanceId.$": "$.Instance.Instances[0].InstanceId",
          "BaseAmiId.$": "$.BaseAmiId",
          "Paid.$": "$.Paid",
          "ImageId.$": "$.Image.ImageId",
          "justCleanup": false
        }
      },
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "Cause": "CodeDeploy Failed"
    }
  }
}